<main>
    <div class="container-fluid">
        <div class="row border-between">
            <div class="col-md-12 col-lg-3 blog-metadata">
                <button class="blog-return-btn btn" (click)="goBack()">Go Back</button>
                <div class="blog-meta-wrapper">
                    <h1>{{blog.title}}</h1>
                    <h2>{{blog.tagline}}</h2>
                    <h3>{{blog.date}}</h3>
                    <p>{{blog.abstract}}</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 blog-post-wrapper">
                <!-- This div uses ngx-markdown to load blog info from markdown files -->
                <div markdown class="blog-post" src="{{'/assets/blog/blogs/' + blog.urlTitle + '.md'}}"></div>
                
                <button class="blog-top-btn btn" (click)="scrollToTop()">Return to Top</button>
            </div>

            <div class="col-md col-lg">
                <!-- Twitter embed is load after the init, through the TS file -->
                <div class="twitter-wrapper">
                    <app-twitter-timeline></app-twitter-timeline>
                </div>
            </div>
        </div>
    </div>
</main>