// Background color
$triBackgroundColor: #fcfff7;
$triTexture: url("/assets/img/tritexture.png");
@mixin triBackground {
  background-color: $triBackgroundColor;
  background-image: $triTexture;
}

// SCSS size variacles
$media-sizes: 
  // Extra small screen / phone - 1 0 // Small screen / phone - 2
  576px // Medium screen / tablet - 3
  765px //adjusted to fit iPads
  // Large screen / desktop - 4
  992px // Extra large screen / wide desktop - 5
  1200px;

// Div variables
$blockRoundness: 4px;

$blockColorWhite: #f4f4f4;
$blockColorBlack: #333;
$blockColorPurple: #b539d8;

$formBackgroundColor: #e6e6e6;

@mixin divisionLine {
  background: $fontColorBlack;
  border-radius: 10px;
}

@mixin divisionLineHort {
  @include divisionLine();
  width: 4px;
  height: auto;
}
@mixin divisionLineVert {
  @include divisionLine();
  width: auto;
  height: 4px;
}

@mixin softBorders {
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.2);
}

@mixin hardBorders {
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 0.25rem;
  border-color: rgba(0, 0, 0, 0.5);
}

@mixin lightShadowBorder {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

// Font variables
$fontColorBlack: #333;
$fontColorWhite: #e8f5f6;
$fontColorPurple: $blockColorPurple;

@import url("https://fonts.googleapis.com/css?family=Dosis:300,500|Titillium+Web:300,400,400i,700&display=swap");
// font-family: 'Dosis', sans-serif;
//  Light: 300
//  Medium: 500
// font-family: 'Titillium Web', sans-serif;
//  Light: 300
//  Regular: 400
//  Regular: 400 Italic
//  Bold: 700

@mixin headerFont {
  font-family: "Dosis", sans-serif;
  font-weight: 300;
  color: $fontColorBlack;
}
@mixin bodyFont {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  color: $fontColorBlack;
}

// Input Variables
@mixin purpleButton {
  background-color: $blockColorPurple;
  border-radius: 20px;
  text-decoration: none;
  border: none;
  padding: 9px 20px;
  @include bodyFont;
  color: $fontColorWhite;
}

@mixin underlineLink {
  color: $fontColorPurple;
  text-decoration: underline;
}

//Hover transitions variables
$cubeBezier: cubic-bezier(0.59, 0.17, 0.3, 0.75);
$standardTransitionDuration: 0.4s;

@mixin opacityTransition {
  opacity: 1;
  transition: opacity $standardTransitionDuration $cubeBezier;
}

@mixin hoverOpacityTransition {
  opacity: 0.7;
  transition: opacity $standardTransitionDuration $cubeBezier;
}

@mixin borderTransition {
  transition: border-color $standardTransitionDuration $cubeBezier;
}

@mixin fontColorTransition {
  transition: color $standardTransitionDuration $cubeBezier;
}

