@import "../../styles/variables";

/*Used for Hover-Over Text Effects*/
.portfolio-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media only screen and (max-width: nth($media-sizes, 2)) {
  .portfolio-wrapper {
    margin: 0 10px;
  }
}

// Portfolio Cells styles
.overlay-container {
  position: relative;
  cursor: pointer;
  width: 400px;
  height: 250px;
  background-color: $blockColorWhite;
}

.overlay-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
@media only screen and (max-width: nth($media-sizes, 2)) {
  .overlay-image {
    width: auto;
    height: 100%;
  }
}

.overlay-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(42, 43, 49, 0.6);
}

.overlay-container:hover .overlay-hover {
  opacity: 1;
}

.overlay-description {
  color: white;
  font-size: 1.5em;
  position: absolute;
  opacity: 0.9;
  top: 50%;
  left: 50%;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Modal Styles
.modal-content {
  background-color: $blockColorWhite;
  border-radius: .35rem;
}

.modal-header {
  background-color: $blockColorPurple;
}

.modal-title,
.modal-close {
  color: $fontColorWhite;
}

.modal-close {
  opacity: 1;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
  opacity: 0.75;
}

.modal-desc {
  margin-bottom: 0.5rem;
}

.modal-tech {
  margin: 0.25rem 0 0.5rem;
}

// The media shown within the modal, either an image or video
.modal-preview-image {
  max-width: 100%;
  @include lightShadowBorder;
  display: block;
  margin: 0 auto;
}
.modal-preview-clip {
  max-width: 100%;
  @include lightShadowBorder;
  margin: 0 auto;
}

.modal-footer {
  @include triBackground;
  justify-content: center;
}

.modal-btn {
  @include purpleButton;
}
