@import "../../styles/variables.scss";

.home-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.home-container {
  height: 70vh;
  width: 74%;
}
@media only screen and (max-width: nth($media-sizes, 4)) {
  .home-container{
    height: 78vh;
  }
}

.top-home-row {
  height: 55%;
}

.bot-home-row {
  height: 45%;
}

.home-tile {
  background-color: $blockColorBlack;
  padding: 0;
  @include triBackground;
}

.home-nav {
  margin-left: 10px;
  color: $fontColorWhite;
  position: relative;
  z-index: 2;
  @include fontColorTransition;
}

// This selector changes the color of any of the labels for the carousels when the carousel is hovered
.home-tile:hover .home-nav,
.home-tile:focus .home-nav,
.home-tile:active .home-nav {
  color: $fontColorPurple;
  @include fontColorTransition;

}








