@import "../../styles/variables";

.scroll-to-top {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
  font-size: 2.5em;
  cursor: default;
}
.show-scrollTop {
  opacity: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.scroll-to-top > div {
  width: 50px;
  height: 50px;
  font-size: 1.9rem;
  font-weight: bold;
  @include softBorders;
  @include borderTransition;
  color: $fontColorBlack;
  transition-property: border-color, color, text-shadow;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2);
}

.scroll-to-top > div:hover,
.scroll-to-top > div:focus,
.scroll-to-top > div:active
{
  @include hardBorders;
  @include borderTransition;
  color: $fontColorPurple;
  transition-property: border-color, color, text-shadow;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.scroll-to-top > div::after {
  content: " \22C0";
}
